﻿@model LoginModel

@{
    ViewData["Title"] = "Login";

    var reExecuteFeature = Context.Features.Get<ReExecuteFeature>();
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/scss/account.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/account.min.css" asp-append-version="true"/>
    </environment>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-login mt-5">
            <div class="card-body">
                <div asp-validation-summary="All"></div>
                <form class="col-12" method="post" action="@Url.RouteUrl(Constants.Routes.Account.LOGIN, new { returnUrl = $"{reExecuteFeature?.OriginalPath}{reExecuteFeature?.OriginalQueryString}" })">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </fieldset>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>