﻿.input-validation-error {
    border-color: var(--danger);
}

.input-validation-error:focus {
    border-color: var(--danger);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.validation-summary-errors {
    color: var(--danger);
}

.field-validation-error {
    font-size: 0.8rem;
    color: var(--danger);
}
