﻿#patients-list {
    th {
        &[data-field="Id"] {
            width: 70px;
        }

        &[data-field="FamilyName"] {
            width: 250px;
        }

        &[data-field="GivenName"] {
        }

        &[data-field="LastSelectedDate"] {
            width: 200px;
        }
    }
}
