﻿html {
  font-size: 14px;
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

.blockUI.blockMsg {
  display: none !important; }

.blockUI.blockOverlay {
  opacity: 0.1 !important; }

.input-validation-error {
  border-color: var(--danger); }

.input-validation-error:focus {
  border-color: var(--danger);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.validation-summary-errors {
  color: var(--danger); }

.field-validation-error {
  font-size: 0.8rem;
  color: var(--danger); }
