﻿@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Prodotti";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-sm table-striped">
    <colgroup>
        <col />
        <col />
        <col width="120" />
    </colgroup>
    @foreach (var product in Model)
    {
        <tr>
            <td class="align-middle">
                @product.Name <span class="badge badge-info">x&nbsp;@product.AvailableQuantity</span>
            </td>
            <td class="text-right align-middle">
                @if (product.DiscountedPrice.HasValue && product.AvailableQuantity > 0)
                {
                    <span><s class="small">@product.Price.ToString("C2")</s> @product.DiscountedPrice.Value.ToString("C2")</span>
                }
                else
                {
                    <span>@product.Price.ToString("C2")</span>
                }
            </td>
            <td>
                @if (product.Ingredients.Any())
                {
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalIngredients@(product.Id)">Ingredienti</button>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Ingredienti</button>
                }
            </td>
        </tr>
    }
</table>


@foreach (var product in Model.Where(m => m.Ingredients.Any()))
{
    <div class="modal fade" id="modalIngredients@(product.Id)" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingredienti</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-sm table-striped">
                        @foreach (var ingredient in product.Ingredients)
                        {
                            <tr>
                                <td>
                                    @ingredient.Ingredient.Name
                                </td>
                                <td>
                                    @if (!ingredient.Quantity.HasValue)
                                    {
                                        <span>q.b.</span>
                                    }
                                    else
                                    {
                                        switch (ingredient.QuantityUnit)
                                        {
                                            case QuantityUnitModel.Number:
                                                <span>@ingredient.Quantity</span>
                                                break;
                                            case QuantityUnitModel.Gram:
                                                <span>@ingredient.Quantity gr</span>
                                                break;
                                            case QuantityUnitModel.Liter:
                                                <span>@ingredient.Quantity L</span>
                                                break;
                                            case QuantityUnitModel.Teaspoon:
                                                <span>@ingredient.Quantity @(ingredient.Quantity <= 1 ? "cucchiaio" : "cucchiai")</span>
                                                break;
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
