﻿@model ProductCrudModel

@{
    ViewData["Title"] = "Prodotto";
}

@*
    @section Scripts {

        <environment include="Development">
            <script type="text/javascript" src="~/js/typescript/shop.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/shop.min.js" asp-append-version="true"></script>
        </environment>
    }*@

<h1 class="sr-only">@ViewData["Title"]</h1>

<form action="@Url.RouteUrl(Constants.Routes.ProductManagement.SAVE_PRODUCT)" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="Id" type="hidden" />

    <fieldset>
        <legend class="h1">@ViewData["Title"]</legend>


        <div class="form-row">

            <div class="col-sm-8 form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>

            <div class="col-4 form-group">
                <label asp-for="Price"></label>
                <div class="input-group">
                    <input asp-for="Price" class="form-control text-right" type="number" step="0.01" value="@Model.Price.ToString("0.00", CultureInfo.InvariantCulture)">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <span asp-validation-for="Price"></span>
            </div>

            <div class="col-3 form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control text-right">
                <span asp-validation-for="Quantity"></span>
            </div>

            <div class="col-3 form-group">
                <label asp-for="SaleDate"></label>
                <input asp-for="SaleDate" class="form-control text-right">
                <span asp-validation-for="SaleDate"></span>
            </div>
        </div>

    </fieldset>

    <div class="text-center">
        <button type="submit" class="btn btn-primary px-5 mt-5">Salva</button>
    </div>

</form>
