﻿@model IEnumerable<ProductItemModel>

@{
    ViewData["Title"] = "Gestione dei prodotti";
}

@*@section Styles{
        <environment include="Development">
            <link rel="stylesheet" href="~/css/scss/shop.css" asp-append-version="true" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/shop.min.css" asp-append-version="true" />
        </environment>
    }

    @section Scripts {

        <environment include="Development">
            <script type="text/javascript" src="~/js/typescript/shop.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/shop.min.js" asp-append-version="true"></script>
        </environment>
    }*@

<div class="d-flex align-items-center">
    <h1 class="flex-grow-1">@ViewData["Title"]</h1>
    <a href="@Url.RouteUrl(Constants.Routes.ProductManagement.CREATE_PRODUCT)" class="btn btn-sm btn-primary">Nuovo</a>
</div>

<table class="table mt-3">
    @foreach (var product in Model)
    {
        <colgroup>
            <col />
            <col />
            <col width="200" />
        </colgroup>
        <tr>
            <td class="align-middle">
                @product.Name
                @if (product.Quantity != product.AvailableQuantity)
                {
                    <span class="badge badge-danger">x&nbsp;@product.Quantity</span>
                }
                else
                {
                    <span class="badge badge-info">x&nbsp;@product.Quantity</span>
                }
            </td>
            <td class="text-right align-middle">
                @if (product.DiscountedPrice.HasValue)
                {
                    <span><s class="small">@product.Price.ToString("C2")</s> @product.DiscountedPrice.Value.ToString("C2")</span>
                }
                else
                {
                    <span>@product.Price.ToString("C2")</span>
                }
            </td>
            <td>
                <a href="@Url.RouteUrl(Constants.Routes.ProductManagement.EDIT_PRODUCT, new { id = product.Id})">Modificare</a>
                <a href="#">Cancellare</a>
            </td>
        </tr>
    }
</table>
